{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Třídění odpadu</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<style>
    .popelnice {
        margin-left: 1rem;
    }

    .menu {
        flex-direction: column;
        left:0;
        top:0;
        position:fixed;
        max-width:180px;
        height:100%;
        background-color: #494D5F;
        color:white;
        text-align: center;
    }

    .tlacitko {
        width:100px;
        margin-left:1rem;
        margin-right:1rem;
        margin-bottom:0.5rem;
        border-radius: 8px;
    }

    .glow:hover {
        box-shadow: 0 0 10px 3px rgba(255, 255, 0, 0.5);
    }

    .primary {
        background-color:#a0d2eb;
    }

    .secondary {
        background-color: #ffc0cb;
    }


    .predmet {
        max-height:150px;
    }

    .popelnice_radek {
        position:fixed;
        bottom:0;
        background-color: #91949f;
        padding: 12px;
    }

    .cedule {
        border-radius: 8px;
        background-color: #E5EAF5;
        text-align:center;
        padding:10px;
    }
    body {
        font-family: 'Roboto', sans-serif;
        background-color:#E5EAF5;
    }

    .shake {
      animation: shake 0.4s;
    }

    @keyframes shake {
      0% { transform: translate(1px, 1px) rotate(0deg); }
      10% { transform: translate(-1px, -2px) rotate(-1deg); }
      20% { transform: translate(-3px, 0px) rotate(1deg); }
      30% { transform: translate(3px, 2px) rotate(0deg); }
      40% { transform: translate(1px, -1px) rotate(1deg); }
      50% { transform: translate(-1px, 2px) rotate(-1deg); }
      60% { transform: translate(-3px, 1px) rotate(0deg); }
      70% { transform: translate(3px, 1px) rotate(-1deg); }
      80% { transform: translate(-1px, -1px) rotate(1deg); }
      90% { transform: translate(1px, 2px) rotate(0deg); }
      100% { transform: translate(1px, -2px) rotate(-1deg); }
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }

    .drag-over {
      animation: pulse 1s infinite;
    }




</style>

<script>
function handleDragEnter(event,element) {
  event.preventDefault();
  var el = document.getElementById(element);
  el.classList.add('drag-over');
}

function handleDragLeave(event,element) {
  event.preventDefault();
  var el = document.getElementById(element);
  el.classList.remove('drag-over');
}


</script>

<div class="d-flex menu">
    <div class="h3 pb-3">Menu</div>
    <button onclick="retrieveNewItems()" class="tlacitko glow primary">Přidat předměty</button>
    <button class="tlacitko glow secondary" onclick="$('#restartModal').modal('toggle')">Restartovat</button>
    <div class="h5 pt-3">Počítadlo</div>
    <p class="text-info" id="counter">0</p>
    <div class="h5 pt-3">Plnění</div>
    <p>{{static}}</p>
    <p id="progression"></p>

</div>
<div class="container">
    <div class="row">
        <div id="itemSection" class="d-flex justify-content-center">
            {% for predmet in predmety %}
            <img class="predmet" id="predmet{{forloop.counter}}" data-popelnice-id="{{predmet.umisteni.id}}"
                 data-self-id="{{predmet.id}}" draggable="true" ondragstart="drag(event)" src="{{predmet.obrazek.url}}"
                 alt="">
            {% endfor %}
        </div>
    </div>
</div>
<div class="container-fluid popelnice_radek">
    <div class="row">
        <div class="d-flex justify-content-center">
            {% for popelnice in popelnice %}
            <div class="popelnice">
                <p class="cedule text-capitalize">{{popelnice.nazev}}</p>
                <img id="popelnice{{popelnice.id}}" ondrop="drop(event,{{popelnice.id}})" ondragover="allowDrop(event)"
                     src="{{popelnice.obrazek.url}}" style="max-height:200px; max-width:137px;" alt="">
            </div>
            <script>
                    const dropZone{{forloop.counter}} = document.getElementById('popelnice{{popelnice.id}}');
                    dropZone{{forloop.counter}}.addEventListener('dragenter', function(event) {
                      handleDragEnter(event, 'popelnice{{popelnice.id}}');
                    });
                    dropZone{{forloop.counter}}.addEventListener('dragleave', function(event) {
                      handleDragLeave(event, 'popelnice{{popelnice.id}}');
                    });
            </script>


            {% endfor %}
        </div>
    </div>
</div>


<!-- Modals -->
<!-- popis predmetu -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Jejda, to není správně :(</h5>
            </div>
            <div id="modalBody" class="modal-body">
                <h3 id="modalBodyHeading"></h3>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>

            </div>
        </div>
    </div>
</div>

<!-- restart -->

<div class="modal fade" id="restartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Opravdu provést restart?</h5>
            </div>
            <div id="modalBody" class="modal-body">
                Kliknutím na tlačítko OK provedete restart. <a style="color:red;">Celý momentální postup bude ztracen</>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zrušit</button>
                <button type="button" class="btn btn-danger" onClick="window.location.reload();">Restartovat</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>

let counter = 0;
let counter_element = document.getElementById('counter');
let progress = document.getElementById('progression');
function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev,pop) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  item = document.getElementById(data);
  var predmetId =item.getAttribute("data-self-id");
  var popelniceId = item.getAttribute("data-popelnice-id");
  var popelniceElement = document.getElementById("popelnice"+pop);
  popelniceElement.classList.remove("drag-over");
  if (pop == popelniceId) {
    item.remove();
    startShakeAnimation("popelnice"+pop);
    counter=counter+1
    counter_element.innerHTML = counter;
    progress.innerHTML = ((counter/{{vsechny_predmety}})*100)+"%";
  }
  else {
    $.ajax({
      url: 'detail/'+predmetId+"/",
      type: 'GET',
      success: function(response) {
        var modalBody = document.getElementById("modalBody");
        modalBody.innerHTML = response.popis;
      },
      error: function(xhr, status, error) {
        console.log(error);
      }
    });

    $('#exampleModalCenter').modal('toggle')
  }
}

function startShakeAnimation(elementId) {
  var element = document.getElementById(elementId);
  element.classList.add("shake");

  setTimeout(function() {
    stopShakeAnimation(elementId);
  }, 1000);
}

function stopShakeAnimation(elementId) {
  var element = document.getElementById(elementId);
  element.classList.remove("shake");
}

function retrieveNewItems() {
    var count = document.getElementById("itemSection").children.length;

    if (count==0) {
        $.ajax({
          url: 'load/',
          type: 'GET',
          success: function(response) {
            console.log(response);
          },
          error: function(xhr, status, error) {
            console.log(error);
          }
        });
    }

}

</script>


</body>
</html>